body
{
    background-color: rgb(125, 127, 253);
    font-size: 15px;
}
#header
{
    line-height: 3rem;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#game
{
    width: 70%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    box-sizing: 1rem;
    text-align: center;
}

#board
{
    display: grid;
    font-size: 4rem;
    grid-template-columns: repeat(3, 1em);
    grid-template-rows: repeat(8, 1em);
}

.tile
{
    background: white;
    border: 1px solid black;
    box-sizing: border-box;

}


#footer
{
    line-height: 3rem;
    width: 100%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}