body
{
    background-color: #a7927e;
    font-size: 15px;
    font-family: 'Comic Sans MS';
    color: #3d372f;
    image-rendering: crisp-edges;
}

#header
{
    line-height: 3rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.info {
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border: 1px solid black;
    font-size: 1.6rem;
    height: 5em;
    padding: 1em;
    position: fixed;
    background: rgb(167, 162, 142);
    box-shadow: 0 10px 20px 0 #00000044;
    width: 20em;
    box-sizing: border-box;
    left: 2rem;
    top: 2rem;
    z-index: 100;
    user-select: none;
}


#game
{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row;
    border: 1px solid rgb(48, 47, 47);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 0;
    box-sizing: 1rem;
    text-align: center;
    max-width: 400px;
}

#game.fullscreen {
    position: fixed;
    height: 100%;
    min-width: 100vw;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #a7927e;
}

#board
{
    font-size: 4rem;
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: repeat(3, 1em);
    grid-template-rows: repeat(8, 1em);
}

#dices {
    display: flex;
    flex-flow: column;
}

.dice
{
    background-size: cover;
    height: 64px;
    width: 64px;
}
.tile
{
    background-size: cover !important;
    box-sizing: border-box;
}

.tile-rosette
{
    background: url('./resources/rosette.png');
}

.tile-gate
{
    background: url('./resources/gate.png');

}

.tile-temple
{
    background: url('./resources/temple.png')
}

.tile-house
{
    background: url('./resources/house.png');
}

.tile-market
{
    background: url('./resources/market.png')
}

.tile-treasury
{
    background: url('./resources/treasury.png');
}

.tile-empty {
    position: relative;
}



.tile-selected
{
    filter: hue-rotate(-10deg) brightness(1.4) saturate(1.4);
}

.tile-empty.tile-selected {
    background: #fff4e08c;
}

.pawn.highlighted,
#dices.highlighted .dice {
    touch-action: none;
    filter: saturate(2) brightness(1.2) drop-shadow(0 0 10px rgb(196, 241, 227)) drop-shadow(0 0 4px rgb(196, 241, 227));
}

.pawn.sticked {
    z-index: 10;
}


.pawn
{
    width: 64px;
    height: 64px;
    background: black;
}

.pawn-white
{
    background: url('./resources/white_pawn.png');
}

.pawn-black
{
    background: url('./resources/black_pawn.png');
}


}


#footer
{
    line-height: 3rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#console
{
    display: hidden;
    position: fixed;
    top: 10px;
    left: 10px;
    color: #0108;
    z-index: 100;
    pointer-events: none;
}